<article class="type-page status-publish entry" itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
<div class="events entry-content">
	<div class="item">
			<div class="item-content">
				<h2><a href="/events/{{event.slug}}">{{event.post_title}}</a></h2>
				<ul class="event-meta">
					<li><span>Event Date:</span> {{event.event_date}}</li>
					<li><span>Location:</span> {{event.get_field('wpgw_event_location')}}</li>						
				</ul>
				{{event.post_content}}
		</div>
	</div>
</div>
</article>